[Unit]
Description=Run ACNG Cache Prefetch daily

[Timer]
# prod
OnCalendar=daily
RandomizedDelaySec=3600
Persistent=true

[Install]
WantedBy=timers.target
